n8n/workflows/ia-cobranca-regua.json
{
  "name": "IA - Cobrança - Régua",
  "nodes": [
    {
      "id": "dfddf906-f9a9-4456-8914-0b142037dff2",
      "name": "Agenda (diário 9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "days", "daysInterval": 1, "triggerAtHour": 9, "triggerAtMinute": 0 }
          ]
        }
      }
    },
    {
      "id": "a68598c7-f92b-4082-86a3-cdf2454c4572",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "a0", "name": "dias_apos_vencimento", "value": 0, "type": "number" },
            { "id": "a1", "name": "cbtkUrl", "value": "https://web.cybertalk.com.br:8443/api/v2/comunicacao/disparar", "type": "string" },
            { "id": "a2", "name": "redeId", "value": "2705d7f7-ae66-4eef-8016-e981b5e249af", "type": "string" },
            { "id": "a3", "name": "assistenteVirtualId", "value": "86713486-5c4b-4b4b-917b-d6ca32b9ad39", "type": "string" },
            { "id": "a4", "name": "contaEmailId", "value": "2a7b9b8e-d1d9-4cd2-a518-4c8115bc9096", "type": "string" }
          ]
        }
      }
    },
    {
      "id": "aae52d54-65d5-4153-9b66-97b11f9f827a",
      "name": "Ler cobranca (Educativo)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [440, 0],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "returnAll": true,
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "etapa", "condition": "eq", "keyValue": "Educativo" }
          ]
        }
      }
    },
    {
      "id": "bf3f2a33-f396-459d-892f-31ab0a5be31a",
      "name": "Elegiveis por data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const cfg = $('Config').first().json;\nconst dias = Number(cfg.dias_apos_vencimento || 0);\nconst hoje = $now.startOf('day');\nconst out = [];\nfor (const item of $input.all()) {\n  const r = item.json;\n  if (!r || !r.vencimento || !r.email) continue;\n  const venc = DateTime.fromISO(String(r.vencimento)).startOf('day');\n  if (!venc.isValid) continue;\n  if (hoje < venc.plus({ days: dias })) continue;\n  const nome = r.nome || 'cliente';\n  const valor = Number(r.valor || 0).toLocaleString('pt-BR', { minimumFractionDigits: 2 });\n  const vencFmt = venc.toFormat('dd/LL/yyyy');\n  const assunto = 'Lembrete: sua fatura venceu';\n  const texto = 'Identificamos que sua fatura no valor de R$ ' + valor + ' venceu em ' + vencFmt + '. Regularize para evitar encargos.';\n  const html = ['<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:600px;margin:0 auto;border:1px solid #C0DD97;border-radius:12px;overflow:hidden;\">','<div style=\"background:#3B6D11;color:#EAF3DE;padding:20px 28px;font-size:20px;font-weight:bold;\">Kard</div>','<div style=\"padding:28px;color:#173404;\">','<p style=\"font-size:17px;margin:0 0 14px;\">Ola, ' + nome + '!</p>','<p style=\"font-size:15px;line-height:1.6;color:#27500A;margin:0 0 22px;\">' + texto + '</p>','<a href=\"https://kard.com.br\" style=\"display:inline-block;background:#3B6D11;color:#EAF3DE;text-decoration:none;font-size:15px;font-weight:bold;padding:12px 26px;border-radius:8px;\">Pagar agora</a>','</div>','<div style=\"background:#EAF3DE;padding:16px 28px;text-align:center;font-size:12px;color:#3B6D11;\">Kard - lembrete automatico de cobranca.</div>','</div>'].join('');\n  out.push({ json: { id: r.id, email: r.email, nome: nome, empresa: r.empresa, valor: r.valor, vencimento: r.vencimento, assunto: assunto, html: html } });\n}\nreturn out;"
      }
    },
    {
      "id": "2817c5f0-9ad0-4a37-b163-dc186e5634c1",
      "name": "Disparar Cobranca 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.cbtkUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-cbtk-key", "value": "__CBTK_KEY__" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tipoCanal: \"EMAIL\", redeId: $('Config').first().json.redeId, assistenteVirtualId: $('Config').first().json.assistenteVirtualId, destino: $json.email, contaEmailId: $('Config').first().json.contaEmailId, assunto: $json.assunto, mensagem: $json.html }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": { "response": { "neverError": true } }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "05b8889c-2075-4bca-a216-68513adbe274",
      "name": "Marcar Cobranca 1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1100, 0],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Elegiveis por data').item.json.id }}" }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "etapa": "Cobranca 1",
            "status_envio": "={{ $json.sucesso ? 'enviado' : 'falha' }}",
            "cbtk_id": "={{ $json.id }}",
            "ultimo_envio": "={{ $now.toISO() }}"
          },
          "schema": [
            { "id": "etapa", "displayName": "etapa", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "status_envio", "displayName": "status_envio", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "cbtk_id", "displayName": "cbtk_id", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "ultimo_envio", "displayName": "ultimo_envio", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false }
          ]
        }
      }
    }
  ],
  "connections": {
    "Agenda (diário 9h)": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Ler cobranca (Educativo)", "type": "main", "index": 0 }]] },
    "Ler cobranca (Educativo)": { "main": [[{ "node": "Elegiveis por data", "type": "main", "index": 0 }]] },
    "Elegiveis por data": { "main": [[{ "node": "Disparar Cobranca 1", "type": "main", "index": 0 }]] },
    "Disparar Cobranca 1": { "main": [[{ "node": "Marcar Cobranca 1", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
