n8n/workflows/ia-cobranca-api.json
{
  "name": "IA - Cobrança - API",
  "nodes": [
    {
      "id": "3ef2464d-db8c-4cd6-a693-57083b194a80",
      "name": "GET listar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "GET",
        "path": "crm-cobranca/list",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "b823ed07-2586-4fe1-9398-d30a3c5634b4"
    },
    {
      "id": "ebfa71a5-866d-4440-962b-aadbe2b8255d",
      "name": "Ler tudo",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [220, 0],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "returnAll": true
      }
    },
    {
      "id": "6d240150-d6da-471d-9e6f-ae77c9bc331d",
      "name": "Responder lista",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [440, 0],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    },
    {
      "id": "354020fa-d188-4348-b0f6-5f8379a5226d",
      "name": "POST mover",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 260],
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-cobranca/update",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "b1c5af35-ff1e-4362-869a-625f8fb93ef7"
    },
    {
      "id": "99cd7a83-87e3-4fce-950d-175f02cc18a3",
      "name": "Atualizar etapa",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [220, 260],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.body.id }}" }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "etapa": "={{ $json.body.etapa }}" },
          "schema": [
            { "id": "etapa", "displayName": "etapa", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false }
          ]
        }
      }
    },
    {
      "id": "f28f81dd-cd83-4a52-8613-738fca318e61",
      "name": "E Cobranca 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [440, 260],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            { "leftValue": "={{ $json.etapa }}", "rightValue": "Cobranca 2", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      }
    },
    {
      "id": "a2b9ab68-9e57-4587-b33e-b721be0e7106",
      "name": "Montar email Cob2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 180],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const r = $input.item.json;\nconst nome = r.nome || 'cliente';\nconst valor = Number(r.valor || 0).toLocaleString('pt-BR', { minimumFractionDigits: 2 });\nconst assunto = 'Pendencia financeira em aberto';\nconst texto = 'Sua fatura no valor de R$ ' + valor + ' continua em aberto. Para evitar encargos e negativacao, regularize o quanto antes ou fale com a gente.';\nconst html = ['<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:600px;margin:0 auto;border:1px solid #C0DD97;border-radius:12px;overflow:hidden;\">','<div style=\"background:#27500A;color:#EAF3DE;padding:20px 28px;font-size:20px;font-weight:bold;\">Kard</div>','<div style=\"padding:28px;color:#173404;\">','<p style=\"font-size:17px;margin:0 0 14px;\">Ola, ' + nome + '!</p>','<p style=\"font-size:15px;line-height:1.6;color:#27500A;margin:0 0 22px;\">' + texto + '</p>','<a href=\"https://kard.com.br\" style=\"display:inline-block;background:#27500A;color:#EAF3DE;text-decoration:none;font-size:15px;font-weight:bold;padding:12px 26px;border-radius:8px;\">Regularizar agora</a>','</div>','<div style=\"background:#EAF3DE;padding:16px 28px;text-align:center;font-size:12px;color:#3B6D11;\">Kard - cobranca.</div>','</div>'].join('');\nr.assunto = assunto;\nr.html = html;\nreturn $input.item;"
      }
    },
    {
      "id": "5d14238d-0b8c-410c-8b4b-cc82d3c56037",
      "name": "Disparar Cobranca 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [880, 180],
      "parameters": {
        "method": "POST",
        "url": "https://web.cybertalk.com.br:8443/api/v2/comunicacao/disparar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-cbtk-key", "value": "__CBTK_KEY__" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tipoCanal: \"EMAIL\", redeId: \"2705d7f7-ae66-4eef-8016-e981b5e249af\", assistenteVirtualId: \"86713486-5c4b-4b4b-917b-d6ca32b9ad39\", destino: $json.email, contaEmailId: \"2a7b9b8e-d1d9-4cd2-a518-4c8115bc9096\", assunto: $json.assunto, mensagem: $json.html }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": { "response": { "neverError": true } }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "2c658706-2dee-4948-aeb9-06803bbf15ed",
      "name": "Responder update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 360],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "GET listar": { "main": [[{ "node": "Ler tudo", "type": "main", "index": 0 }]] },
    "Ler tudo": { "main": [[{ "node": "Responder lista", "type": "main", "index": 0 }]] },
    "POST mover": { "main": [[{ "node": "Atualizar etapa", "type": "main", "index": 0 }]] },
    "Atualizar etapa": { "main": [[{ "node": "E Cobranca 2?", "type": "main", "index": 0 }]] },
    "E Cobranca 2?": {
      "main": [
        [{ "node": "Montar email Cob2", "type": "main", "index": 0 }],
        [{ "node": "Responder update", "type": "main", "index": 0 }]
      ]
    },
    "Montar email Cob2": { "main": [[{ "node": "Disparar Cobranca 2", "type": "main", "index": 0 }]] },
    "Disparar Cobranca 2": { "main": [[{ "node": "Responder update", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
