n8n/workflows/ia-cobranca-etl-csv.json
{
  "name": "IA - Cobrança - ETL CSV",
  "nodes": [
    {
      "id": "36c54091-de3e-4492-93a8-d61b80724226",
      "name": "Upload CSV",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [0, 0],
      "parameters": {
        "formTitle": "Importar lista de cobrança",
        "formDescription": "Envie um CSV com as colunas: nome, email, empresa, valor, vencimento (dd/mm/aaaa).",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Arquivo CSV",
              "fieldName": "arquivo",
              "fieldType": "file",
              "acceptFileTypes": ".csv",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "path": "importar-cobranca",
          "respondWithOptions": {
            "values": {
              "respondWith": "text",
              "formSubmittedText": "Arquivo recebido! Os contatos estão sendo importados para o pipeline."
            }
          }
        }
      },
      "webhookId": "0e3cddc2-44ab-414f-9354-242cd68f3d5f"
    },
    {
      "id": "3d041195-7fb3-4d49-9d6f-94f9b8beabb8",
      "name": "Ler CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [220, 0],
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "arquivo",
        "options": { "headerRow": true }
      }
    },
    {
      "id": "de77fde6-fb59-42d0-bc5f-3fb3db8c1394",
      "name": "Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const out = [];\nconst reEmail = /^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/;\nfor (const item of $input.all()) {\n  const r = item.json || {};\n  const email = String(r.email || r.Email || '').trim().toLowerCase();\n  if (!reEmail.test(email)) continue;\n  let valor = 0;\n  const vraw = String(r.valor != null ? r.valor : (r.Valor || '')).trim();\n  if (vraw) {\n    let s = vraw.replace(/[^0-9.,-]/g, '');\n    if (s.indexOf(',') > -1) { s = s.replace(/\\./g, '').replace(',', '.'); }\n    valor = parseFloat(s); if (isNaN(valor)) valor = 0;\n  }\n  const draw = String(r.vencimento || r.Vencimento || '').trim();\n  let venc = '';\n  if (draw) {\n    let dt;\n    if (draw.indexOf('/') > -1) { dt = DateTime.fromFormat(draw, 'dd/LL/yyyy'); if (!dt.isValid) dt = DateTime.fromFormat(draw, 'd/L/yyyy'); }\n    else { dt = DateTime.fromISO(draw); }\n    if (dt && dt.isValid) venc = dt.toISODate();\n  }\n  out.push({ json: { nome: String(r.nome || r.Nome || '').trim(), email: email, empresa: String(r.empresa || r.Empresa || '').trim(), valor: valor, vencimento: venc, etapa: 'Educacional' } });\n}\nreturn out;"
      }
    },
    {
      "id": "a99635ca-5e8d-4985-bc44-0103577d0836",
      "name": "Upsert cobranca",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [660, 0],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            { "keyName": "email", "condition": "eq", "keyValue": "={{ $json.email }}" }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $json.nome }}",
            "email": "={{ $json.email }}",
            "empresa": "={{ $json.empresa }}",
            "valor": "={{ $json.valor }}",
            "vencimento": "={{ $json.vencimento }}",
            "etapa": "={{ $json.etapa }}"
          },
          "schema": [
            { "id": "nome", "displayName": "nome", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "email", "displayName": "email", "type": "string", "required": false, "display": true, "canBeUsedToMatch": true },
            { "id": "empresa", "displayName": "empresa", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "valor", "displayName": "valor", "type": "number", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "vencimento", "displayName": "vencimento", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "etapa", "displayName": "etapa", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false }
          ]
        }
      }
    }
  ],
  "connections": {
    "Upload CSV": { "main": [[{ "node": "Ler CSV", "type": "main", "index": 0 }]] },
    "Ler CSV": { "main": [[{ "node": "Normalizar", "type": "main", "index": 0 }]] },
    "Normalizar": { "main": [[{ "node": "Upsert cobranca", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
