n8n/workflows/ia-cobranca-disparar-etapa.json
{
  "name": "IA - Cobrança - Disparar por Etapa",
  "nodes": [
    {
      "id": "22222222-2222-4222-8222-222222222201",
      "name": "Disparar (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-cobranca/disparar",
        "responseMode": "onReceived",
        "options": { "allowedOrigins": "*" }
      },
      "webhookId": "22222222-2222-4222-8222-2222222222aa"
    },
    {
      "id": "22222222-2222-4222-8222-222222222202",
      "name": "Ler contatos da etapa",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [220, 0],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "returnAll": true,
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "etapa", "condition": "eq", "keyValue": "={{ $json.body.etapa }}" }
          ]
        }
      }
    },
    {
      "id": "22222222-2222-4222-8222-222222222203",
      "name": "Montar email da etapa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const r = $input.item.json;\nconst nome = r.nome || 'cliente';\nconst valor = Number(r.valor || 0).toLocaleString('pt-BR', { minimumFractionDigits: 2 });\nconst etapa = String(r.etapa || '');\nconst educacional = etapa.indexOf('Educacional') === 0;\nlet assunto, texto, cor, botao;\nif (educacional) {\n  assunto = 'Lembrete sobre a sua fatura';\n  texto = 'Passando para lembrar da sua fatura no valor de R$ ' + valor + '. Qualquer duvida, estamos a disposicao para ajudar.';\n  cor = '#3B6D11'; botao = 'Ver detalhes';\n} else {\n  assunto = 'Pendencia financeira em aberto';\n  texto = 'Sua fatura no valor de R$ ' + valor + ' continua em aberto. Para evitar encargos e negativacao, regularize o quanto antes ou fale com a gente.';\n  cor = '#27500A'; botao = 'Regularizar agora';\n}\nconst html = ['<div style=\"font-family:Arial,Helvetica,sans-serif;max-width:600px;margin:0 auto;border:1px solid #C0DD97;border-radius:12px;overflow:hidden;\">','<div style=\"background:' + cor + ';color:#EAF3DE;padding:20px 28px;font-size:20px;font-weight:bold;\">Kard</div>','<div style=\"padding:28px;color:#173404;\">','<p style=\"font-size:17px;margin:0 0 14px;\">Ola, ' + nome + '!</p>','<p style=\"font-size:15px;line-height:1.6;color:#27500A;margin:0 0 22px;\">' + texto + '</p>','<a href=\"https://kard.com.br\" style=\"display:inline-block;background:' + cor + ';color:#EAF3DE;text-decoration:none;font-size:15px;font-weight:bold;padding:12px 26px;border-radius:8px;\">' + botao + '</a>','</div>','<div style=\"background:#EAF3DE;padding:16px 28px;text-align:center;font-size:12px;color:#3B6D11;\">Kard - ' + etapa + '.</div>','</div>'].join('');\nr.assunto = assunto;\nr.html = html;\nreturn $input.item;"
      }
    },
    {
      "id": "22222222-2222-4222-8222-222222222204",
      "name": "Disparar CyberTalk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 0],
      "parameters": {
        "method": "POST",
        "url": "https://web.cybertalk.com.br:8443/api/v2/comunicacao/disparar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-cbtk-key", "value": "__CBTK_KEY__" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tipoCanal: \"EMAIL\", redeId: \"2705d7f7-ae66-4eef-8016-e981b5e249af\", assistenteVirtualId: \"86713486-5c4b-4b4b-917b-d6ca32b9ad39\", destino: $json.email, contaEmailId: \"2a7b9b8e-d1d9-4cd2-a518-4c8115bc9096\", assunto: $json.assunto, mensagem: $json.html }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": { "response": { "neverError": true } }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "22222222-2222-4222-8222-222222222205",
      "name": "Marcar envio",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [880, 0],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": { "__rl": true, "mode": "id", "value": "vwWbTJOAkbxCbhzw" },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Montar email da etapa').item.json.id }}" }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_envio": "={{ $json.sucesso ? 'enviado' : 'falha' }}",
            "cbtk_id": "={{ $json.id }}",
            "ultimo_envio": "={{ $now.toISO() }}"
          },
          "schema": [
            { "id": "status_envio", "displayName": "status_envio", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "cbtk_id", "displayName": "cbtk_id", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false },
            { "id": "ultimo_envio", "displayName": "ultimo_envio", "type": "string", "required": false, "display": true, "canBeUsedToMatch": false }
          ]
        }
      }
    }
  ],
  "connections": {
    "Disparar (POST)": { "main": [[{ "node": "Ler contatos da etapa", "type": "main", "index": 0 }]] },
    "Ler contatos da etapa": { "main": [[{ "node": "Montar email da etapa", "type": "main", "index": 0 }]] },
    "Montar email da etapa": { "main": [[{ "node": "Disparar CyberTalk", "type": "main", "index": 0 }]] },
    "Disparar CyberTalk": { "main": [[{ "node": "Marcar envio", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
